.recipe {
    .card_txt {
        @include d_f(flex);
        flex-wrap: wrap;

        h2 {
            position: relative;
            @include d_f(flex, space-between, center);
            width: 100%;
            margin-bottom: 54px;
            padding-right: 46px;
            @include mw(M) {
                align-items: flex-start;
                flex-direction: column;
                margin-bottom: 16px;
                padding-right: 0;
            }
            &:after {
                content: attr(data-txtby);
                position: absolute;
                bottom: -16px;
                font-weight: 500;
                font-size: 14px;
                line-height: 160%;
                letter-spacing: 0.1em;
                color: #808080;
                transform: translateY(100%);

                @include mw(M) {
                    position: relative;
                    bottom: 0;
                    margin-top: 16px;
                    transform: translateY(0);
                }
            }
        }
    }
    .card_fun {
        width: 100%;
    }
    // .recipe .infoHead
    .infoHead {
        flex-wrap: wrap;
        margin-bottom: 50px;
        text-align: center;
        @include mw(M) {
            flex-direction: column;
            margin-bottom: 48px;
        }
        &_pic {
            width: 100%;
            max-width: calc(830px - 32px);
            margin-left: 32px;
            @include mw(XL) {
                max-width: 650px;
                margin-left: 20px;
            }
            @include mw(M) {
                margin-left: 0;
                margin-top: 48px;
            }
        }
    }

    .car {
        max-width: 280px;
        margin-left: 0;

        &_box {
            padding: 32px 24px;
            @include mw(M) {
                @include d_f(flex, none, center);
                padding: 16px;
            }
        }
        &_pic {
            @include mw(M) {
                flex: none;
                width: 100px;
                margin-bottom: 0;
            }
        }
        &_title {
            white-space: unset;
            @include mw(M) {
                margin-bottom: 0;
                margin-left: 16px;
            }
        }
    }
}
