h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #005f5f;

    @include mw(M) {
        font-size: 48px;
        line-height: 58px;
    }
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    // letter-spacing: 0.1em;
    color: #333333;
}

// h3 {
//     font-style: normal;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 19px;
//     color: #333333;
// }
.normal_btn {
    padding: 8px 35px;
    background: #005f5f;
    color: #fff6e9;
    border: 2px solid #333333;
    box-shadow: 4px 4px 0px #333333;
    border-radius: 8px;
    @extend %hand;
}
.normal_select {
    overflow: hidden;
    position: relative;
    display: block;
    width: 195px;
    height: 36px;
    background: #fff6e9;
    border: 2px solid #333333;
    border-radius: 8px;
    select {
        width: 100%;
        height: 100%;
        padding-left: 14px;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.1em;
        color: #005f5f;
        cursor: pointer;
    }
    i {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 21px;
        display: flex;
        align-items: center;
        pointer-events: none;
    }
}

.normal_checkbox {
    @include d_f(inline-flex, none, center);
    input {
        display: none;
        &:checked + span:after {
            display: block;
        }
    }
    span {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 16px;
        border: 2px solid #005f5f;
        border-radius: 4px;

        &::after {
            content: "";
            display: none;
            position: absolute;
            top: 3px;
            left: 2px;
            width: 10px;
            height: 5px;
            border: 2px solid #005f5f;
            border-width: 0 0 2px 2px;
            transform: rotate(-45deg);
            // top: 0;
            // left: 0;
        }
    }
}

.normal_page {
    @include d_f(flex, center, center);
    margin-top: 48px;
    li {
        @include d_f(flex, center, center);
        width: 36px;
        height: 36px;
        background-color: #005f5f;
        color: #fff6e9;
        @extend %hand;
        &:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        &:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}
.icon_keep {
    display: block;
    width: 22px;
    height: 29px;
    fill: transparent;
    @extend %hand;
    &.on {
        fill: #005f5f;
    }
}
//
.wrap {
    @include d_f(flex);
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}
.content {
    flex: 0 1 100%;
    padding-top: 48px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 48px;
    @include mw(M) {
        padding-top: 129px;
    }
}
.container {
    width: 100%;
    max-width: 1140px;
    min-height: 100%;
    height: 100%;
    margin: auto;
}

.header {
    flex: none;
    position: fixed;
    top: 0;
    @include d_f(flex, space-between, center);
    width: 100%;
    padding: 48px 120px 0;
    transform: translate3d(0, 0, 0);
    z-index: 1;
    @include mw(M) {
        width: 100%;
        height: 61px;
        background-color: #005f5f;
        padding: 0 0 0 12px;
        box-shadow: 4px 4px 0 #333;
        // filter: drop-shadow(4px 4px 0px #333333);
    }
    .logo_pc {
        width: 150px;
        @include mw(M) {
            display: none;
        }
    }
    .logo_ph {
        display: none;
        @include mw(M) {
            display: block;
        }
    }
}
.menu {
    overflow: hidden;
    width: 150px;
    border: 3px solid #fff6e9;
    border-radius: 200px;
    @include mw(M) {
        position: absolute;
        right: 0;
        top: 61px;
        border: none;
        border-radius: 0;
        transform: translateX(100%);
        transition-duration: 0.3s;
        &.on {
            transform: translateX(0);
        }
        // display: none;
    }
    // .menu_item
    &_item {
        width: 100%;
        height: 62px;
        background: #005f5f;
        color: #fff6e9;

        & + & {
            border-top: 2px dashed #fff6e9;
        }
        a {
            @include d_f(flex, center, center);
            width: 100%;
            height: 100%;
        }
    }

    // .menu_btn
    &_btn {
        display: none;
        flex-direction: column;
        width: 61px;
        height: 61px;
        border-left: 1px solid #333333;
        @extend %hand;
        @include mw(M) {
            @include d_f(flex, center, center);
        }
        span {
            position: relative;
            display: inline-block;
            width: 21px;
            height: 3px;
            background: #fff6e9;
            border-radius: 8px;
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                display: inline-block;
                width: 100%;
                height: 100%;
                background: #fff6e9;
                border-radius: 8px;
            }
            &::before {
                top: -7px;
            }
            &::after {
                top: 7px;
            }
        }
    }
}

.footer {
    flex: none;
    @include d_f(flex, center, center);
    width: 100%;
    height: 50px;
    background-color: #005f5f;
    color: #fff6e9;
}

.infoHead {
    @include d_f(flex, center, center);
    @include mw(M) {
        flex-direction: column-reverse;
    }
    // .infoHead_pic
    &_pic {
        width: 243px;
        margin-left: 49px;
        @include mw(M) {
            width: 208px;
            margin-left: 0;
            margin-bottom: 32px;
        }
    }

    @at-root .course & {
        margin-bottom: 100px;
    }
}
.infoBody {
    @include d_f(flex, center);
}
.card {
    @include d_f(flex);
    padding: 24px;
    background: #fff6e9;
    border: 2px solid #333333;
    box-shadow: 4px 4px 0px #333333;
    border-radius: 20px;
    @include mw(M) {
        flex-direction: column;
        max-width: 700px;
    }
    & + & {
        margin-top: 48px;
    }
    // .card_pic
    &_pic {
        flex: none;
        overflow: hidden;
        width: 422px;
        margin-right: 48px;
        border-radius: 20px;
        @include mw(M) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 32px;
        }
    }
    // .card_txt
    &_txt {
        position: relative;
        h2 {
            margin-bottom: 24px;
        }
        p {
            font-weight: 600;
            font-size: 16px;
            // line-height: 130.02%;
            // letter-spacing: 0.1em;
            color: #333333;

            &.border {
                padding-bottom: 24px;
                margin-bottom: 24px;
                border-bottom: 1px solid #333;
            }
        }

        // .card_txt .icon_keep
        .icon_keep {
            position: absolute;
            right: 0;
            top: 0;

            @include mw(M) {
                flex: none;
                position: relative;
                margin-left: 24px;
            }
        }
    }

    // .card_price
    &_price {
        @include d_f(flex, none, center);
        color: #005f5f;
        span {
            margin-left: 24px;
            font-weight: 700;
            font-size: 24px;
            line-height: 160%;
        }
    }

    // .card_time
    &_time {
        padding-top: 24px;
        color: #005f5f;
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        li + li {
            margin-top: 12px;
        }
    }

    // .card_fun
    &_fun {
        @include d_f(flex, flex-end, center);
        margin-top: 24px;

        .normal_btn {
            @include mw(M) {
                width: 100%;
            }
        }
    }
}
.filter {
    margin-left: 28px;
    padding: 35px;
    background: #fff6e9;
    border: 2px solid #333333;
    box-shadow: 4px 4px 0px #333333;
    border-radius: 20px;
    @include mw(M) {
        display: none;
    }
    h2 + .normal_select,
    .normal_select + .normal_select,
    .normal_select + .filter_group,
    .filter_group + .filter_group {
        margin-top: 23px;
    }
    // .filter_group
    &_group {
        // .filter_group_title
        @include d_f(flex, center, none);
        flex-direction: column;
        &_title {
            position: relative;
            // border-bottom: 2px solid #005f5f;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #333333;
            &::after {
                content: "";
                position: absolute;
                bottom: 4px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #005f5f;
            }
        }
        li {
            padding: 6px 0;
            &.filter_group_title {
                padding: 0 0 6px;
            }
        }
    }
}
