@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
b,
i,
ol,
ul,
li,
form,
label,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #262626;
  font-family: "Abhaya Libre", sans-serif;
  background: url("../../images/bg.png"), #6dd0cd;
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}

/* 
僅限ios15以上的safari瀏覽器
才加class在html上(高度改為100vh的class)
並於以下狀態
在html加上重整高度class(一秒後移除)
1.從登入頁進入到主框架時
2.鍵盤彈出後收起時 
*/
html.ios15 {
  height: 100vh;
}

.ios15 body {
  height: 100vh;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -moz-outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button {
  border: none;
  font-family: "Helvetica", sans-serif;
  padding: 0;
  border: 0;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  resize: none;
  font-size: 15px;
}

button {
  border: none;
  background-color: transparent;
}

img {
  width: 100%;
  vertical-align: middle;
}

select {
  border: none;
  -webkit-appearance: none;
}

@media only screen and (min-device-width: 1025px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border: 1px #f1f1f1 solid;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background 0.5s linear;
    transition: background 0.5s linear;
  }
  *:hover::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
  }
  ::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
  }
}

.normal_page li, .menu, .menu_item:not(:last-child) a, .menu_item i, .menu_btn, .filter_btn {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.normal_btn, .normal_select select, .normal_checkbox, .normal_page li, .icon_keep, .menu_item i, .menu_btn, .filter_btn {
  cursor: pointer;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #005f5f;
}

@media screen and (max-width: 995px) {
  h1 {
    font-size: 48px;
    line-height: 58px;
  }
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.normal_btn {
  position: relative;
  padding: 8px 35px;
  background: #005f5f;
  color: #fff6e9;
  border: 2px solid #333333;
  -webkit-box-shadow: 4px 4px 0px #333333;
          box-shadow: 4px 4px 0px #333333;
  border-radius: 8px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_btn:hover {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
    -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
  }
}

.normal_btn:active {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
}

.normal_btn._white {
  background-color: #fff6e9;
  color: #005f5f;
}

.normal_select {
  overflow: hidden;
  position: relative;
  display: block;
  width: 195px;
  height: 36px;
  background: #fff6e9;
  border: 2px solid #333333;
  border-radius: 8px;
}

.normal_select select {
  width: 100%;
  height: 100%;
  padding-left: 14px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #005f5f;
}

.normal_select i {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.normal_checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.normal_checkbox input {
  display: none;
}

.normal_checkbox input:checked + span:after {
  display: block;
}

.normal_checkbox span {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border: 2px solid #005f5f;
  border-radius: 4px;
}

.normal_checkbox span::after {
  content: "";
  display: none;
  position: absolute;
  top: 3px;
  left: 2px;
  width: 10px;
  height: 5px;
  border: 2px solid #005f5f;
  border-width: 0 0 2px 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.normal_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
}

.normal_page li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  background-color: #005f5f;
  color: #fff6e9;
}

.normal_page li:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.normal_page li:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_page li:hover {
    opacity: 0.7;
  }
}

.normal_page li:active {
  opacity: 0.7;
}

.step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (max-width: 995px) {
  .step {
    max-width: 400px;
    margin: auto;
  }
}

.step::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  margin: auto;
  background-color: #000;
}

@media screen and (max-width: 995px) {
  .step::before {
    display: none;
  }
}

.step_item {
  position: relative;
  font-weight: 700;
  font-size: 32px;
  color: #005f5f;
  white-space: nowrap;
  counter-increment: section;
}

@media screen and (max-width: 1280px) {
  .step_item {
    font-size: 22px;
  }
}

@media screen and (max-width: 1023px) {
  .step_item {
    font-size: 20px;
  }
}

@media screen and (max-width: 995px) {
  .step_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
  }
}

.step_item::before {
  content: "STEP " counter(section) ".";
}

@media screen and (max-width: 995px) {
  .step_item::before {
    content: counter(section);
  }
}

@media screen and (max-width: 995px) {
  .step_item.msg_right::after {
    content: "";
  }
}

.step_item.boxShadow {
  padding: 12px 30px;
}

@media screen and (max-width: 995px) {
  .step_item.boxShadow {
    padding: 0;
    border-radius: 50%;
  }
}

.step_item.on {
  background-color: #005f5f;
  color: #fff6e9;
}

.msg_left::before {
  content: attr(data-txtl);
}

.msg_right::after {
  content: attr(data-txtr);
}

.boxShadow {
  padding: 24px;
  background-color: #fff6e9;
  border: 2px solid #333333;
  -webkit-box-shadow: 4px 4px 0px #333333;
          box-shadow: 4px 4px 0px #333333;
  border-radius: 20px;
}

.icon_keep {
  display: block;
  width: 22px;
  height: 29px;
  fill: transparent;
}

.icon_keep.on {
  fill: #005f5f;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 48px 20px 48px;
}

@media screen and (max-width: 995px) {
  .content {
    padding-top: 129px;
  }
}

.container {
  width: 100%;
  max-width: 1140px;
  min-height: 100%;
  height: 100%;
  margin: auto;
}

.header {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 48px 120px 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 1;
  pointer-events: none;
}

@media screen and (max-width: 1440px) {
  .header {
    padding: 48px 20px 0;
  }
}

@media screen and (max-width: 995px) {
  .header {
    width: 100%;
    height: 61px;
    background-color: #005f5f;
    padding: 0 0 0 12px;
    -webkit-box-shadow: 4px 4px 0 #333;
            box-shadow: 4px 4px 0 #333;
    pointer-events: auto;
  }
}

.header .logo_pc {
  width: 150px;
}

@media screen and (max-width: 995px) {
  .header .logo_pc {
    display: none;
  }
}

.header .logo_ph {
  display: none;
}

@media screen and (max-width: 995px) {
  .header .logo_ph {
    display: block;
  }
}

.menu {
  overflow: hidden;
  width: 150px;
  background-color: #005f5f;
  border: 3px solid #fff6e9;
  border-radius: 200px;
  pointer-events: auto;
}

@media screen and (max-width: 995px) {
  .menu {
    position: absolute;
    right: 0;
    top: 61px;
    border: none;
    border-radius: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 62px;
  background: #005f5f;
  color: #fff6e9;
}

.menu_item + .menu_item {
  border-top: 2px dashed #fff6e9;
}

.menu_item:not(:last-child) a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .menu_item:not(:last-child) a:hover {
    opacity: 0.7;
  }
}

.menu_item:not(:last-child) a:active {
  opacity: 0.7;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .menu_item i:hover {
    opacity: 0.7;
  }
}

.menu_item i:active {
  opacity: 0.7;
}

.menu_item .icon_member {
  margin-left: 33px;
}

.menu_btn {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 61px;
  height: 61px;
  border-left: 1px solid #333333;
}

@media screen and (max-width: 995px) {
  .menu_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .menu_btn:hover {
    opacity: 0.7;
  }
}

.menu_btn:active {
  opacity: 0.7;
}

.menu_btn.on + .menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu_btn span {
  position: relative;
  display: inline-block;
  width: 21px;
  height: 3px;
  background: #fff6e9;
  border-radius: 8px;
}

.menu_btn span::before, .menu_btn span::after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #fff6e9;
  border-radius: 8px;
}

.menu_btn span::before {
  top: -7px;
}

.menu_btn span::after {
  top: 7px;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #005f5f;
  color: #fff6e9;
}

.infoHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 995px) {
  .infoHead {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.infoHead_pic {
  width: 243px;
  margin-left: 49px;
}

@media screen and (max-width: 995px) {
  .infoHead_pic {
    width: 208px;
    margin-left: 0;
    margin-bottom: 32px;
  }
}

.course .infoHead {
  margin-bottom: 100px;
}

@media screen and (max-width: 995px) {
  .course .infoHead {
    margin-bottom: 28px;
  }
}

.infoBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (max-width: 995px) {
  .infoBody {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 700px;
    margin: auto;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (max-width: 995px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card + .card {
  margin-top: 48px;
}

.card_pic {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  overflow: hidden;
  width: 422px;
  margin-right: 48px;
  border-radius: 20px;
}

@media screen and (max-width: 995px) {
  .card_pic {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }
}

.card_txt {
  position: relative;
}

.card_txt h2 {
  margin-bottom: 24px;
}

.card_txt p {
  font-weight: 600;
  font-size: 16px;
  color: #333333;
}

.card_txt p.border {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #333;
}

.card_txt .icon_keep {
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 995px) {
  .card_txt .icon_keep {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    position: relative;
    margin-left: 24px;
  }
}

.card_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #005f5f;
}

.card_price span {
  margin-left: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
}

.card_time {
  padding-top: 24px;
  color: #005f5f;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
}

.card_time li + li {
  margin-top: 12px;
}

.card_fun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

@media screen and (max-width: 995px) {
  .card_fun .normal_btn {
    width: 100%;
  }
}

.filter {
  margin-left: 28px;
}

@media screen and (max-width: 995px) {
  .filter {
    position: relative;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 17px;
  }
}

.filter_btn {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #005f5f;
  border: 2px solid #333333;
  -webkit-box-shadow: 4px 4px 0px #333333;
          box-shadow: 4px 4px 0px #333333;
  border-radius: 50%;
}

@media screen and (max-width: 995px) {
  .filter_btn {
    display: block;
  }
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .filter_btn:hover {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
    -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
  }
}

.filter_btn:active {
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
}

.filter_box {
  padding: 35px;
  background: #fff6e9;
}

@media screen and (max-width: 995px) {
  .filter_box {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
  }
  .filter_box.on {
    display: block;
  }
}

.filter h2 + .normal_select,
.filter .normal_select + .normal_select,
.filter .normal_select + .filter_group,
.filter .filter_group + .filter_group {
  margin-top: 23px;
}

.filter_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter_group_title {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.filter_group_title::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #005f5f;
}

.filter_group li {
  padding: 6px 0;
}

.filter_group li.filter_group_title {
  padding: 0 0 6px;
}

.more {
  width: 100%;
}

.more_titlePic {
  overflow: hidden;
  border-radius: 20px;
}

.more_info {
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.1em;
  color: #333333;
}

.more_infoPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.more_infoPic li {
  width: 50%;
}

.more_infoPic li + li {
  margin-left: 16px;
}

.more_note {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.1em;
  color: #000000;
}

.more > * + * {
  margin-top: 16px;
}

.car {
  margin-left: 28px;
  text-align: center;
}

@media screen and (max-width: 995px) {
  .car {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: 0;
    margin-bottom: 48px;
  }
}

.car_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 24px;
  color: #005f5f;
  white-space: nowrap;
}

.car_title .icon_keep {
  margin-left: 24px;
}

.car_pic {
  width: 100%;
  max-width: 150px;
  margin: 0 auto 24px;
}

.car .normal_select {
  margin-bottom: 24px;
}

.car_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.car_num li {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
}

.car_num li:first-child {
  color: #333333;
}

.car_num li:last-child {
  color: #005f5f;
}

.car_titlePic {
  width: 100%;
  max-width: 238px;
  margin: 32px auto 0;
}

@media screen and (max-width: 995px) {
  .car_titlePic {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.car_group {
  margin-top: 48px;
}

.car_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 16px;
}

.car_item + .car_item {
  margin-top: 48px;
}

.car_item_pic {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  overflow: hidden;
  width: 281px;
  margin-right: 48px;
  border-radius: 10px;
}

.car_item_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 995px) {
  .car_item_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .car_item_info .icon_keep {
    position: absolute;
    bottom: 10px;
    right: 16px;
  }
}

.car_item_info h2 {
  display: inline-block;
  border-bottom: 1px solid #000;
}

.car_item_info .detail_date {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #333333;
}

.car_item_info .detail * + * {
  margin-top: 16px;
}

.car_item_info .price {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.08em;
  color: #333333;
}

.car_item_info .price * + * {
  margin-top: 16px;
}

.car_item_info .normal_btn::before {
  content: attr(data-txt);
}

@media screen and (max-width: 995px) {
  .car_item_info .normal_btn {
    position: absolute;
    top: 10px;
    right: 16px;
  }
  .car_item_info .normal_btn::before {
    content: '';
  }
}

.car_total {
  position: relative;
  margin-top: 48px;
  text-align: right;
}

.car_total::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  margin: auto;
  background-color: #000;
}

.car_func {
  margin-top: 48px;
}

.car_func .normal_btn + .normal_btn {
  margin-left: 16px;
}
/*# sourceMappingURL=all.css.map */